<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Bootstrap CSS -->
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
        crossorigin="anonymous"
        />
        <link rel="stylesheet" href="../static/picpet/css/styles.css" />
        <title>Registrame!</title>
    </head>
    <body class="body-registro">

    <header>

    <div class="text-center img-picpet">

        <img class="mb-4" src="https://cdn.pixabay.com/photo/2016/03/31/17/37/animal-1293792_960_720.png" alt="" width="72" height="57">

    </div>

    <h1 class="h2 display-9 text-center titulo-registro">Registro en PicPet</h1>

    </header>

    <main>

        <div class="cuenta-tipo">
        
            <h2 class="h3 display-9 text-center">Cliente</h2>

            <div class="cuenta-tipo-img">
                <img src="https://images.unsplash.com/photo-1629757006805-993175a40171?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" alt="cuenta">
            </div>
        </div>

      
        
        <h3 class="h3 display-9 text-center titulo-form-registro">Datos Personales</h3>

        <form id="formulario" novalidate action="insertarPersona" method="post">
        {% csrf_token %}
        <div class="row g-3 contenedor-form-registro">

          <div class="col-md-4">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Ingrese su nombre" required>
              <p class="text-danger mb-2 d-none" id="alertNombre"></p>
          </div>

          <div class="col-md-4">
              <label for="apellidoPaterno" class="form-label">Apellido Paterno</label>
              <input type="text" name="apellidoPaterno" class="form-control" id="apellidoPaterno" placeholder="Ingrese su apellido paterno" required>
              <p class="text-danger mb-2 d-none" id="alertApellidoPaterno"></p>
          </div>

          <div class="col-md-4">
              <label for="apellidoMaterno" class="form-label">Apellido Materno</label>
              <input type="text" name="apellidoMaterno" class="form-control" id="apellidoMaterno" placeholder="Ingrese su apellido materno" required>
              <p class="text-danger mb-2 d-none" id="alertApellidoMaterno"></p>
          </div>

          <div class="col-md-4">
              <label for="nombreUsuario" class="form-label">Nombre de ususario</label>
              <div class="input-group has-validation">
                  <span class="input-group-text" id="inputGroupPrepend3">@</span>
                  <input type="text" name ="nombreUsuario" class="form-control" id="nombreUsuario" required>

                  <p class="text-danger mb-2 d-none" id="alertNombreUsuario"></p>
                  <p class="text-danger mb-2 d-none" id="alertNombreUsuarioExistente"></p>
              </div>
          </div>

          <!-- <div class="row g-3"> -->
            <div class="col-md-4">
              <label for="email" class="form-label">E-Mail</label>
              <input type="email" name="email" class="form-control" id="email" value="@mail.com" required>
              <p class="text-danger mb-2 d-none" id="alertEmail"></p>
              <p class="text-danger mb-2 d-none" id="alertEmailExistente"></p>
            </div>
          <!-- </div> -->

            <div class="col-md-4">
              <label for="edad" class="form-label">Edad</label>
              <input type="number" name="edad" class="form-control" id="edad" value="18" required>
              <p class="text-danger mb-2 d-none" id="alertEdad"></p>
            </div>

            <div class="col-md-4">
              <label for="contrasenia" class="form-label">Contraseña</label>
              <input type="password" name="contrasenia" class="form-control" id="contrasenia" required>
              <p class="text-danger mb-2 d-none" id="alertContrasenia"></p>
            </div>

            <div class="col-md-4">
              <label for="confirmarContrasenia" class="form-label">Confirmar Contraseña</label>
              <input type="password" name="confirmarContrasenia" class="form-control" id="confirmarContrasenia" required>
              <p class="text-danger mb-2 d-none" id="alertConfirmarContrasenia"></p>
              
            </div>
  
            
          
        </div>
          
            <div class="footer-registro">
              <div class="terminos-registro">
                  
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="terminos" value="0" id="terminos" required>
                  <label class="form-check-label" for="terminos">
                      Acepto los terminos y condiciones
                  </label>
                  <p class="text-danger mb-2 d-none" id="alertTerminos"></p>
                </div>
              </div>

              <div class="botones-registro">
                <button class="btn btn-primary cancela-registro" type="submit">Terminar registro</button>
                <a class="btn btn-primary cancela-registro" href="{% url 'index' %}">Cancelar</a>  
              </div>

                  
            </div>
    
        </form>
        <div class="{{respuestaValidacion.centrar}}">
          <div class="{{respuestaValidacion.clases}}" id="alertSuccess">{{respuestaValidacion.mensaje}}</div>
          <a class="{{respuestaValidacion.clasesBoton}}" href="{% url 'index' %}">{{respuestaValidacion.boton}}</a>
        </div>
    </main>

    <footer>
        <p class="mt-5 mb-3 text-muted text-center">&copy; PicPet 2022</p>
    </footer>
    
    </body>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script>
      window.data = { emails: {{ emails|safe}}}
      window.data2 = { nombresDeUsuario: {{ nombresDeUsuario|safe}}}
      console.log(window.data.emails.length)
      data3 = window.data.emails
      data4 = window.data2.nombresDeUsuario
      data3.forEach(function(dataItem) {
        console.log(dataItem);
      });
      data4.forEach(function(dataItem) {
        console.log(dataItem);
      });
    </script>
    <script src="../static/picpet/js/registroValidacionPersona.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"
    ></script>
    
</html>