<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>picpet</title>
</head>
<body>
    <h2>Artista</h2>
            <section>
                <h3>{{persona.nombreUsuario}}</h3>
            </section>
            <h4 class="text-center">Blogs de {{persona.nombreUsuario}}</h4>
            {% for blog in blogs %}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4 class="card-title">{{ blog.titulo }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ blog.titulo }}</h5>
                                <p class="card-text">{{ blog.intro }}</p>
                                <img style="width: 9rem;" src="{{ blog.subirImagen.url }}" alt="Foto blog">
                                <a href="{% url 'ver blog' blog.id %}" class="btn btn-primary">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
</body>
</html>